accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
git+https://github.com/huggingface/transformers@de9255de27abfcae4a1f816b904915f0b1e23cd9
sentencepiece
gradio
